src/main/mule/logic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:min-log="http://www.mulesoft.org/schema/mule/min-log"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
	http://www.mulesoft.org/schema/mule/min-log http://www.mulesoft.org/schema/mule/min-log/current/mule-min-log.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

	<flow name="put:\ping:api-config">
		<min-log:timed transactionProperties="#[vars.transactionProperties]"
			doc:name="Timed">

			<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
				xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "200",
  message: "Alive"
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		</min-log:timed>
	</flow>

	<flow name="get:\ping:api-config">
		<min-log:timed transactionProperties="#[vars.transactionProperties]"
			doc:name="Timed">
			<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
				xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
				doc:id="c6abbe8f-fe95-4251-acff-8e00853dd895">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "200",
  message: "Alive"
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		</min-log:timed>
	</flow>

</mule>
