src/main/mule/router.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:min-log="http://www.mulesoft.org/schema/mule/min-log"
	xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
	http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
	http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
    http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
    http://www.mulesoft.org/schema/mule/min-log http://www.mulesoft.org/schema/mule/min-log/current/mule-min-log.xsd">

	<api-gateway:autodiscovery apiId="${secure::api.id}"
		flowRef="api-main" doc:name="API Autodiscovery" />

	<apikit:config name="api-config" raml="api.raml"
		outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />

	<flow name="api-main">
		<http:listener path="/${secure::api.base}/*" doc:name="Listener" config-ref="api-httpListenerConfig">
			<http:response statusCode="#[vars.httpStatus default 200]"
				reasonPhrase="#[vars.reasonPhrase]" >
				<http:headers><![CDATA[#[output applicaton/java
---
{
	"x-transaction-id" : vars.transactionProperties.'x-transaction-id'
}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" reasonPhrase='#[vars.httpReason]'>
				<http:body><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>

		<min-log:new doc:name="Set transaction properties" target="transactionProperties"
			headers="#[attributes.headers]" />

		<apikit:router doc:name="APIkit Router" config-ref="api-config"/>

	</flow>

</mule>
